{% extends "base.html"%}


{% block tryit %}
    {% if form == None %}
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto row mb-3">
                    <div class="col-md-6"><h4>Model result </h4></div>
                    <div class="col-md-6 text-end">
                        You may <a class="link-success" href="{{ url_for('static', filename=out_img) }}" download="{{ url_for('static', filename=out_img) }}">download result</a>
                        or try <a class="link-primary" href="{{ url_for('index')}}"> download one more time</a></div>
                </div>
                <div class="col-12 text-center mb-100">
                    <img class="mx-auto" src="{{ url_for('static', filename=out_img) }}">
                </div>
            </div>
        </div>
    {% elif form %}
        <form method="post" class="demo-model-form" action="/#try-it" enctype="multipart/form-data">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center mb-3">
                        <p>Model shows how a autopilot self-driving car sees.</p>
                        <p>So you need try it to street view photo. If you don't have anyone,
                            you may do screenshot on <a href="https://www.google.com/streetview/" target="_blank">Google street view</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto mb-150">
                        {{ form.hidden_tag() }}
                        {{ form.file.label }}
                        {{ form.file(class="form-control", type="file") }}
                        {{ form.submit(class='main-btn btn-hover wow fadeInUp') }}
                    </div>
                </div>
            </div>
        </form>
    {%  endif %}
{% endblock %}

